name: updateVpub
on:  
  push
permissions: read-all
jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - name: checkout codes
        uses: actions/checkout@v1
      - name: update vpub
        shell: bash
        run: |
          bash ./trial.sh
      - name: commit
        run: |
          git config --global user.mail heyu330182@hotmail.com
          git config --global user.name heyu330182
          git add .
          git commit -m "update:`date`"
          git pull --rebase
      - name: Push changes
        uses: actions/checkout@v3
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
      
      
      
      
